# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "main"           
    labels:
      - "dependabot"
    assignees:
      - "MathiasSchindlerCPH"
    commit-message:
      prefix: "fix"
      include: "scope"

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      time: "18:45"
      timezone: "Europe/Copenhagen"
    target-branch: "#45/test/dependabot-warning" 
    labels:
      - "dependabot"
    assignees:
      - "MathiasSchindlerCPH"
    commit-message:
      prefix: "fix"
      include: "scope"